

html{
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

/*Header*/
#headerimg{
    width: 354px;
    height: 204px;
}
#headerimg>img{
    width: 153px;
    height: 120px;
    position: relative;
    top: 200px;
    left:27px;
}

/*MAIN*/

#main {
    margin: 0 auto;
    position: relative;
    width: 1440px;
    height: 850px;
    
}

#maintext {
    position: absolute;
    top: 345px;
    left: 470px;
    font-size: 60px;
    color: #83322c;
    font-weight: 700;

}

#mainimg {
    width: 600px;
    height: 526px;
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
    
}

#mainimg > img{
    max-width: 100%;
}

#mainsubtext {
    position: absolute;
    top:532px;
    left:550px;
    width : 230px;
    font-style:italic;
    color:#864C4C;
}


#mainsubtext > p:nth-child(1){
    font-size:30px;
    
} /*p:nth-child = */
#mainsubtext > p:nth-child(2){
    font-size:15px;
    
}

p{
    margin:0;
}



/*sidebar*/

#sidebar {
    position:relative;
    float: left;
    width: 200px;
    height: 850px;
   
}

nav{
    width: 200px;
    position: absolute;
    top:175px;
    
}

#sidebarul{
    
    list-style: none;
    padding-left:65px;
}

li{
    font-size:20px;
    width: 135px;
    height: 20px;
    padding-top:30px;
    padding-bottom: 30px;
    
}

li>a {
    color:#864C4C;
}

ul {
    list-style: none;
    padding-left: 0px;
}

/*Portofolio*/

#portfolio{
    position: absolute;
    left: 200px;
    width: 1240px;
    height: auto;
  
}

#portfolio > .title{
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    
}

#portfolio > .content{
    margin-top: 50px;
    width: 1240px;
    float: left;

}

#portfolio > .content > .image {
    float: left;
    width: 500px;
    margin-left: 60px;
    
    
}

#portfolio > .content > .textcontent {
    float: right;
    width: 680px;
   
}

#portfolio > .content > .textcontent > .subtitle {
    font-size: 35px;
    font-weight: 400;
    text-align: center;
   
}

#portfolio > .content > .textcontent > .subtitle > span{
    padding: 10px;
    color: white;
    background-color: #864C4C;
    display: inline-block;
    border: 1px solid #864C4C ;
    border-radius: 20px;
}

#portfolio > .content > .textcontent > .subdescription {
    font-size: 20px;
    font-weight: 100;
    margin-top:40px;
    text-align: center;
   
}

#portfolio > .content > .textcontent > .sublink {
    font-size: 20px;
    font-weight: 300;
    margin-top: 30px;
    text-align: center;
}

#portfolio > .content > .textcontent > .subdescription > span {
    display: inline-block;
    width: 500px;
    text-align: left;

}

#portfolio > .content > .textcontent > .sublink > span {
    display: inline-block;
    width: 500px;
    text-align: left;
}

/*portfolio content and img*/

#portfolio > .content > .image > img{
    max-width: 100%;
    float: left;
    border-radius: 20px;

}

#portfolio > .content > .textcontent > .sublink > a{
    padding: 10px;
    background-color: #7e4141;
    color:aliceblue;
    border-radius:20px;
    display: inline-block;
}

#portfolio > .content >.post-content> h2{
    text-align: center;
}

/*Blog*/

#blog{
    position: absolute;
    left: 200px;
    width: 1240px;
    height: auto;
  
}

#blog > .title{
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    
}

#blog > .content{
    margin-top: 50px;
    width: 1240px;
    float: left;

}

#blog > .content > .image {
    float: left;
    width: 500px;
    margin-left: 60px;
    
    
}

#blog > .content > .textcontent {
    float: right;
    width: 680px;
   
}

#blog > .content > .textcontent > .subtitle {
    font-size: 35px;
    font-weight: 400;
    text-align: center;
   
}

#blog > .content > .textcontent > .subtitle > span{
    padding: 10px;
    color: white;
    background-color: #864C4C;
    display: inline-block;
    border: 1px solid #864C4C ;
    border-radius: 20px;
}

#blog > .content > .textcontent > .subdescription {
    font-size: 20px;
    font-weight: 100;
    margin-top:40px;
    text-align: center;
   
}

#blog > .content > .textcontent > .sublink {
    font-size: 20px;
    font-weight: 300;
    margin-top: 30px;
    text-align: center;
}

#blog > .content > .textcontent > .subdescription > span {
    display: inline-block;
    width: 500px;
    text-align: left;

}

#blog > .content > .textcontent > .sublink > span {
    display: inline-block;
    width: 500px;
    text-align: left;
}

/*blog content and img*/

#blog > .content > .image > img{
    max-width: 100%;
    float: left;
    border-radius: 20px;

}

#blog > .content > .textcontent > .sublink > a{
    padding: 10px;
    background-color: #7e4141;
    color:aliceblue;
    border-radius:20px;
    display: inline-block;
}



/*blog post*/

#post{
    position: absolute;
    left: 200px;
    width: 1240px;
    height: auto;
}

#post > .title{   
    font-size: 60px;
    font-weight: 900;
    text-align: center;
}   

  
.post-header__name{
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
    color: #83322c;
    margin-bottom:10px;
}
.post-header__title{
    font-size: 42px;
    margin-bottom: 16px;
}

.post-content{
    padding-top:64px;
    padding-bottom: 64px;
    padding-left: 96px;
    padding-right: 96px;
    background-color: white;
    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px #d2dae5);
}
.post-content h2,
.post-content p,
.post-content ul{
    margin-bottom: 32px;
}
  
.post-content h2{
    font-size: 24px;
  }
  
.post-content p {
    line-height: 150%;
    font-size: 18px;
}
  
.post-content .image{
    width: 100%;
    height: 220px;
    display: flex;
    margin-bottom: 32px;
    gap:32px;
}
  
.post-content .image__item{
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
}
  
.post-content .image img{
    max-width: 100%;
    width:100%;
    height: 100%;
    object-fit: cover;
}

  /*img*/
  .featured-image{
    width: 100%;
    height: 510px;
    overflow:hidden;  /*부모보다 큰 자식 요소는 부모 영역만큼 보여주고 넘치는 것은 감춤 처리*/
    margin-bottom: 64px;
    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px #d2dae5); /*drop shaadow*/
}
  .featured-image img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
