/* HTML elements */
body {
	margin: 0;
	padding: 0;
}
hr {
	display: none;
}
/* layout */
#header {
	position: relative;
	height: 50px;
	background:  white;
}
#sidebar {
	position: absolute;
	width: 180px;
	top: 60px;
	left: 10px;
	background: rgb(146, 150, 146);
}
#wrapper {
	min-height: 450px;
	padding-left: 210px;
	background: rgb(212, 212, 212);
}


/* menu */
#header ul {
	position: absolute;
	bottom: 0;
	left: 500px;
}
#header ul li {
	float: left;
	width: 100px;
}
/* content */
#content h1, 
#content p {
	margin: 0;
}
#content h1 {
	padding-top: 10px;
}
#content p {
	margin-top: 1em;
}